.Button {
    border: none;
    /* color: white; */
    color: black;
    background-color: transparent;
    outline: none;
    width: 188px;
    cursor: pointer;
    border: 1px solid #5a4899;
    border-radius: 15px;
    font: inherit;
    padding: 13px;
    margin: 20px 4px;
    font-weight: bold;
    font-size: 0.78em;
}

.Button:hover{
      background-color: rgb(123, 106, 255);
      color: white;
}

.Button.cancel {
    background-color: red;
}

.Button.continue {
    background-color: green;
}

.Button:disabled{
    background-color: gray;
    cursor:not-allowed;
}