.btn {
  padding: 10px;
  border-radius: 5px;
}
.btn:hover {
  background-color: aqua;
}

.html {
  font-family: "Space Mono", monospace;
  /* margin-top: -25px; */
  position: absolute;
  left: 0px;
  top: -35px;
  width: 100%;
  height: 100vw;
  background-color: #fff;
}
.container_AllPaper {
  padding: 30px;
  background-color: #cabaa4;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0px;
  text-align: center;
}
.questionDiv {
  margin: auto;
  margin-top: 10%;
  position: relative;
  color: black;
  top: 0px;
  width: 75%;
  border: 3px solid rgba(176, 255, 4, 0.58);
  padding: 18px;
  -webkit-box-shadow: 1px 1px 15px black;
  box-shadow: 1px 1px 15px black;
  text-align: center;
  border-radius: 7px;
  min-width: 300px;
  font-size: 1rem;
}

@media (max-width: 535px) {
  .questionDiv {
    width: fit-content;
  }
}

.button_response {
  padding: 10px;
  width: 100%;
  font-size: 1.4rem;
  border: 0.7px solid rgb(202 255 90 / 58%);
  box-shadow: 1px 1px 20px rgba(217, 255, 134, 0.809);
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  transition: 0.5s linear;
}

.button_response:hover {
  background-color: rgba(28, 247, 28, 0.455);
}

.userDetails,
.dataValue {
  padding: 23px;
  font-size: 1.2rem;
  width: max-content;
  margin: auto;
}

.containerContent {
  display: "flex";
  flex-direction: "left";
  align-items: "center";
  justify-content: "space-evenly";
  margin-top: "15px";
}

.Ques {
  margin-left: 3px;
}

/* **************************************** */

.buttonCopy {
  display: inline-block;
  border-radius: 17px;
  background-color: rgb(229 48 48 / 80%);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 7px 38px;
}

.buttonCopy span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 1.3rem;
}

.buttonCopy:hover {
  background-color: red;
  font-size: white;
}

.buttonCopy span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonCopy:hover span {
  padding-right: 25px;
}

.buttonCopy:hover span:after {
  opacity: 1;
  right: 0;
}
